.App {
  text-align: center;
  font-size: 1.5rem;
  box-sizing: border-box;
}
.App {

}

ul {
  list-style-type: none;
}

.MuiCardContent-root > ul > li {
  padding: 10px;
}

.profile-card {
  padding: 50px;
  margin: 50px;
  max-width: 25rem;

}
.profile-img {
  border-radius: 150px;
  height: 100px;
  width: 100px;
}

a {
  text-decoration: none;
  color: #555555;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.banner {
  background-image: url('https://kiranworkspace.com/demo/projects/code-snippets/card/profile-card/img/banner.jpg');
}

.contact-card {
  border: solid;
  margin: 0% 30% 0% 30%;
  padding: 0px 0px 20px 0px;
}

.contact-card > ul > li {
  padding: 10px;
}

.icons > span {
  padding-left: 15px
}

.icons-card {
  padding: 10px;
  margin-left: -47px;
  
}

.icons > span > a > img {
  transition: all 0.3s linear;
}

.icons > span > a:hover > img {
  transform: scale(1.5);
}


